<%= form_for([:admin, @admin_language]) do |f| %>
  <% if @admin_language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_language.errors.count, "error") %> prohibited this admin_language from being saved:</h2>

      <ul>
      <% @admin_language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :icon %><br>
    <%= f.text_field :icon %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
