<% content_for(:breadcrumb) do
  render 'admin/partials/breadcrumb', page_name: 'Son Çalışmalar', icon:'list'
end %>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Başlık</th>
      <th>İçerik</th>
      <th>URL</th>
      <th>Sıra</th>
      <th>Durum</th>
      <th>Language</th>
      <th>Resim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_recent_works.each do |recent_work| %>
      <tr>
        <td><%= recent_work.title %></td>
        <td><%= recent_work.text %></td>
        <td><%= recent_work.href %></td>
        <td><%= recent_work.order %></td>
        <td><%= recent_work.is_active %></td>
        <td><%= recent_work.language.name %></td>
        <td><%= image_tag recent_work.photo.url(:thumb) %></td>
        <td><%= link_to 'Detay',  admin_recent_work_path(recent_work) %></td>
        <td><%= link_to 'Düzenle', edit_admin_recent_work_path(recent_work) %></td>
        <td><%= link_to 'Sil', admin_recent_work_path(recent_work), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to new_admin_recent_work_path , class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Yeni Çalışma
<% end %>

