<!-- Content
================================================== -->
<!-- 960 Container -->

<%= render 'partials/current_menu', menu_name: translate('home_page') %>

<div class="container">

  <!-- Flexslider -->
  <div class="sixteen columns">
    <section class="slider">
      <div class="flexslider home">
        <ul class="slides">
          <% @carousels.each do |carousel| %>
            <li>

              <% unless carousel.href.empty? %>
                <a href="<%= carousel.href %>">
                  <img class="ls-bg" src="<%= carousel.photo.url(:original) %>" alt="" >
                </a>
              <% else %>
                  <img class="ls-bg" src="<%= carousel.photo.url(:original) %>" alt="" >
              <% end %>

              <% unless carousel.text.empty? %>
                  <div class="slide-caption"  >
                    <h3><%= carousel.title %></h3>
                    <p><%= carousel.text %></p>
                    <p></p>
                  </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
  <!-- Flexslider / End -->

</div>
<!-- 960 Container / End -->

<div class="container">

  <div id="portfolio-wrapper">
    <% @articles.each do |article| %>
        <div class="one-third column portfolio-item ">
          <div class="item-description alt">
            <h5 style="height: 32px">
              <a href="<%= article_path(article.name.parameterize, article.id) %>"><%= article.name %></a>
            </h5>
            <p><%= truncate( article.description, :length => 130, :separator => ' ') %></p>
          </div>
          <a class="post-entry" href="<%= article_path(article.name.parameterize, article.id) %>" style="margin: 1px" >
            <%= translate('continue_reading') %>
          </a>
        </div>
    <% end %>

  </div>

</div>
<!-- 960 Container / End -->


<% if @recent_works.any? %>
    <!-- 960 Container -->
    <div class="container">
      <div class="sixteen columns">
        <!-- Headline -->
        <div class="headline no-margin"><h3><%= translate('recent_work') %></h3></div>
      </div>
      <% @recent_works.each do |recent_work| %>
          <div class="four columns">
            <div class="picture">
              <a href="<%= recent_work.photo.url(:original) %>" rel="image" >
                <%= image_tag recent_work.photo.url(:thumb) %>
                <div class="image-overlay-zoom"></div></a></div>
            <div class="item-description">
              <h5><%= recent_work.title %></h5>
              <p><%= recent_work.text %></p>
            </div>
          </div>

      <% end %>
    </div>
    <!-- 960 Container / End -->
<% end %>



<div class="container tooltips">

  <div class="sixteen columns">
    <!-- Headline -->
    <div class="headline no-margin"><h3><%= translate('personal_exhibitions') %></h3></div>
  </div>

  <!-- 1/3 Columns -->
  <div class="one-third column">
    <ul class="arrow_list">
      <% @exhibitions_one.each do |personal| %>

          <li>
            <% if personal.exhibition_works_count > 0 %>
                <a rel="tooltip" data-original-title='<%= "#{personal.exhibition_works_count} #{translate('exhibition_photos') }" %>'
                  href="<%= exhibitions_photos_path(personal.title_tr.parameterize, personal.id) %>">
                  <%=  I18n.locale == :tr ? personal.title_tr : personal.title_en  %></a>
            <% else %>
              <span rel="tooltip" data-original-title="<%= "#{personal.exhibition_works_count} #{translate('exhibition_photos') }"  %>">
                <%=  I18n.locale == :tr ? personal.title_tr : personal.title_en  %>
              </span>
            <% end %>
          </li>

      <% end %>
    </ul>
  </div>

  <div class="one-third column">
    <ul class="arrow_list">
      <% @exhibitions_two.each do |personal| %>


          <li>
            <% if personal.exhibition_works_count > 0 %>
                <a rel="tooltip" data-original-title='<%= "#{personal.exhibition_works_count} #{translate('exhibition_photos') }" %>'
                   href="<%= exhibitions_photos_path(personal.title_tr.parameterize, personal.id) %>">
                  <%=  I18n.locale == :tr ? personal.title_tr : personal.title_en  %></a>
            <% else %>
              <span rel="tooltip" data-original-title="<%= "#{personal.exhibition_works_count} #{translate('exhibition_photos') }"  %>">
                <%=  I18n.locale == :tr ? personal.title_tr : personal.title_en  %>
              </span>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="one-third column">
    <ul class="arrow_list">
      <% @exhibitions_three.each do |personal| %>


          <li>
            <% if personal.exhibition_works_count > 0 %>
                <a rel="tooltip" data-original-title='<%= "#{personal.exhibition_works_count} #{translate('exhibition_photos') }" %>'
                   href="<%= exhibitions_photos_path(personal.title_tr.parameterize, personal.id) %>">
                  <%=  I18n.locale == :tr ? personal.title_tr : personal.title_en  %></a>
            <% else %>
              <span rel="tooltip" data-original-title="<%= "#{personal.exhibition_works_count} #{translate('exhibition_photos') }"  %>">
                <%=  I18n.locale == :tr ? personal.title_tr : personal.title_en  %>
              </span>
            <% end %>
          </li>


      <% end %>
    </ul>
  </div>
  <!-- 1/3 Columns End -->

</div>
