
<% content_for(:breadcrumb) do
  render 'admin/partials/breadcrumb', page_name: 'Sergiler', icon:'list'
end %>
<div class="table-responsive">

<table  class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Türkçe Başlık</th>
      <th>Tarih</th>
      <th>Kişisel Sergi</th>
      <th>Durum</th>
      <th>Resim</th>
      <th>Resimler</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_exhibitions.each do |exhibition| %>
      <tr>
        <td><%= exhibition.title_tr %></td>
        <td><%= exhibition.start_at.strftime("%Y")  %></td>
        <td><%= raw(boolean_type(exhibition.is_individual)) %></td>
        <td><%= raw(status_type(exhibition.is_active)) %></td>
        <td><%= link_to 'Resim Ekle', new_admin_exhibition_photo_path(exhibition), :class=> "label label-primary"  %></td>
        <td><%= link_to 'Resimler', admin_exhibition_photos_path(exhibition), :class => "label label-info" %></td>
        <td><%= link_to 'Düzenle', edit_admin_exhibition_path(exhibition), :class=> "label label-primary" %></td>
        <td><%= link_to 'Sil', admin_exhibition_path(exhibition), method: :delete, data: { confirm: 'Are you sure?' }, :class => "label label-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to new_admin_exhibition_path , class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Yeni Sergi
<% end %>
