

    <%= form_for([:admin, @admin_work_detail],  url: { action: @action_name }, :html => { :multipart => true } ) do |f| %>
        <%= render 'admin/partials/form_errors', object: @admin_work_detail %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class =>'form-control' %>
  </div>


        <div class="form-group">
          <%= f.label :order %><br>
          <%= f.number_field :order, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :is_active %><br>
          <%= f.check_box :is_active %>
        </div>

        <div class="form-group" >
          <td><%= image_tag @admin_work_detail.photo.url(:thumb), width: '150' %></td>
        </div>
        <div class="form-group" >
          <%= f.file_field :photo %>
        </div>


        <div class="form-group">
          <%= link_to admin_work_photos_path(@work), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Geri
          <% end %>

          <%= button_tag(type: 'submit', class: 'btn btn-small btn-success') do %>
              <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Kaydet
          <% end %>
        </div>

<% end %>
