<% content_for(:breadcrumb) do
  render 'admin/partials/breadcrumb', page_name: 'Carousel', icon:'list'
end %>
<div class="row">

    <% @admin_carousels.each do |carousel| %>

      <div class="col-lg-3 text-center">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag carousel.photo.url(:thumb), width: '225' %>
            <div class="panel-footer">

              <span class="btn btn-xs btn-info" style="cursor:default" > <%= carousel.language.name %></span>

              <%= link_to 'Düzenle', edit_admin_carousel_path(carousel),   :class => "btn btn-xs btn-danger"%>
              <%= link_to 'Sil', admin_carousel_path(carousel), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-success"  %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
</div>

<%= link_to new_admin_carousel_path , class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Yeni Carusel
<% end %>

