<% content_for(:breadcrumb) do
  render 'admin/partials/breadcrumb', page_name: 'Sergi Resimleri', icon:'list'
end %>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th>Başlık</th>
      <th>Durum</th>
      <th>Resim</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_exhibition_works.each do |exhibition_work| %>
      <tr>
        <td><%= exhibition_work.title %></td>
        <td><%= exhibition_work.is_active %></td>
        <td><%= image_tag exhibition_work.photo.url(:thumb) %></td>
        <td><%= link_to 'Düzenle', edit_admin_exhibition_photo_path(@exhibition, exhibition_work) %></td>
        <td><%= link_to 'Sil', admin_exhibition_photo_path(@exhibition, exhibition_work), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>



<%= link_to new_admin_exhibition_photo_path(@exhibition), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Yeni Resim
<% end %>

