<% content_for(:breadcrumb) do
  render 'admin/partials/breadcrumb', page_name: 'Yeni Kullanıcı', icon:'edit'
end %>

<%= form_for([:admin,@user]) do |f| %>
  <%= render 'admin/partials/form_errors', object: @user %>

  <div class="form-group">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => 'form-control'  %>
  </div>
  <div class="actions" >
    <%= link_to admin_users_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Geri
    <% end %>

    <%= button_tag(type: 'submit', class: 'btn btn-small btn-success') do %>
        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Kaydet
    <% end %>
  </div>
<% end %>





